* {
    padding: 0;
    margin: 0;
}  

body {
    background-color: rgb(44, 1, 59);
}

header {
    background: rgb(44, 1, 59, 0.8);
    box-shadow: -3px 3px 3px rgba(250, 248, 248, 0.2);
    width: 100%;
    position: fixed;
    z-index: 10;
    display: block;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

nav ul li img {
    display: block;
    max-width: 50%;
}

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: rgb(54, 1, 73);
}

.title{
    color: whitesmoke;
    text-align: center;
    font-size: 250%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(199, 209, 209);
    text-shadow: -3px 3px 3px rgba(250, 248, 248, 0.2); /*Efecto de sombra en texto */
    padding-top: 100px;
}

/* reloj */
.clockdate{
    padding-top: 10px;
    text-align: right;
} 

.clockdate-wrapper {
    background-color: rgb(44, 1, 59);
    padding:5px;
    width:100%;
    text-align:right;
    border-radius:5px;
    margin:0 auto;
    margin-top:2%;
    margin-bottom: 2%;
}

#clock{
    background-color:rgb(44, 1, 59);
    font-family: sans-serif;
    font-size:30px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}

#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:10px;
    position:relative;
    top:-17px;
    left:-8px;
}

#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

/* Formulario Login */
#contenedor {
    display:flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    padding-right: 500px;
    padding-bottom: 20px;
}

.titulo {
    font-size: 250%;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    background: rgb(39, 1, 36);
	background: -webkit-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -moz-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -o-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -ms-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: linear-gradient(#1b031b, rgb(53, 2, 59));
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid rgb(20, 0, 18);
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
    box-shadow: 0 6px 8px 0 rgba(250, 248, 248, 0.2);
	display: block;
	float: left;
	line-height: 40px;
	margin-top: 10px;
    position:sticky ;
	width: auto;
    height: auto;
    padding: 50px 30px;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #17181a;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #968b8b;
}

#login button {
    background: rgb(39, 1, 36);
	background: -webkit-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -moz-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -o-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: -ms-linear-gradient(#1b031b, rgb(53, 2, 59));
	background: linear-gradient(#1b031b, rgb(53, 2, 59));
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid rgb(20, 0, 18);
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 110%;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
    position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 100%;
}

#login button:hover {
    background-color: #77408d;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #77408d;
}

/* .inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #77408d;
} */


/* Pie de pagina */
#footer {
    font-family: Raleway,sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    text-shadow: -1px 3px 3px rgba(250, 248, 248, 0.15); /*Efecto de sombra en texto */
    line-height: 2.6em;
    background: #200922;
}